@charset "utf-8";

@keyframes text-ani{
  0%{
    font-size: 16px;
    color: rgba(255,0,0,0);
    top: 0;
    left: 0;
    opacity: 1;
  }
  100%{
    font-size: 48px;
    color: rgba(0,0,255,1);
    top: 150px;
    left: 450px;
    opacity: 1;
  }
}

@keyframes img-ani{
  0%{
   transform: translateX(0);
  }
  100%{
    transform: translateX(700px);
  }
}

.text-wrap{
  background: yellow;
  width: 1000px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

.text{
  background: pink;
  position: absolute;
  opacity: 0;
  /* animation-name: text-ani;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite; /*반복 횟수*/
  /* animation-direction: alternate;
  animation-delay: 5s; 활용하면 애니메이션 순차 적용 가능 */
  /* animation-play-state: paused; 자바 스크립트를 통해서 컨트롤할 때 쓰는 속성 */
  animation: text-ani 5s forwards ease-in-out infinite alternate 5s; 
  /*초단위 가 2개인 경우, 딜레이는 옵션이므로 뒤쪽에 있는게 딜레이*/ /*속기법으로 한번에 쓸수 있음.위의 순서를 공백을 두고 적어주기만 하면됨 */
}

.img-wrap{
  background: pink;
  padding: 50px
}
.lion{
  animation: img-ani 3000ms forwards 3;
}
